/* Global Styles */
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  color: #f0f0f0;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

/* Main Content Styles */
main {
  max-width: 70%;
  margin: 2rem auto;
  padding: 0;
}

section {
  background-color: #1a1a1a;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #87CEEB;
}

/* Name Styles */
.name {
  color: #87CEEB;
  text-align: center;
  font-size: 2.5rem;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}

/* About Section Styles */
.about-content {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

/* Research Interests Styles */
#research ul {
  list-style-type: none;
  padding-left: 0;
}

#research li {
  margin-bottom: 1rem;
}

.research-topic {
  font-variant: small-caps;
  font-weight: bold;
  color: #87CEEB;
}

.paper-link {
  color: #87CEEB;
  text-decoration: none;
  cursor: pointer;
}

.paper-link:hover, .paper-link:visited {
  color: #87CEEB;
  text-decoration: underline;
}

/* Paper Preview Styles */
.paper-preview {
  display: none;
  position: fixed;
  background-color: #2c2c2c;
  border: 1px solid #87CEEB;
  padding: 1rem;
  max-width: 300px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  background-color: #1a1a1a;
  color: #87CEEB;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #87CEEB;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #87CEEB;
  color: #000000;
}

/* Ensure all links are blue, including visited ones */
a, a:visited {
  color: #87CEEB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  main {
      max-width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .about-content {
      flex-direction: column;
      align-items: center;
  }

  .profile-img {
      margin-bottom: 1rem;
  }

  .buttons {
      justify-content: center;
  }
}